<header class="header">
  <nav>
    <div class="nav-bar">
      <div class="logo">
        <a href="#"><img src="logo.png" alt="logo" /></a>
      </div>
      <div class="nav-menu-btn" id="menu-btn" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <ul class="nav-links" id="nav-links" [class.open]="isMenuOpen">
      <li><a href="#home">Início</a></li>
      <li><a href="#about">Sobre</a></li>
      <li><a href="#service">Serviços</a></li>
      <li><a href="#team">Time</a></li>
      <li><a href="#contact">Contato</a></li>
      <li><a [routerLink]="['/company']">Empresas</a></li>
    </ul>
    <button class="btn nav-btn" [routerLink]="['/login']">Entrar</button>
  </nav>
  <div class="section-container header-container" id="home">
    <h1>Participe.ai</h1>
    <p>ECONOMIA E SUSTENTABILIDADE NA PALMA DA  MÃO</p>
    <button class="btn-header nav-btn" [routerLink]="['/register']">Criar a conta</button>
  </div>
</header>

<section class="section-container booking-container">
  <form action="/" class="booking-form">
    <div class="input-group">
      <span><i class="fa-solid fa-hand-holding-dollar"></i></span>
      <div>
        <h3>Monitore. Economize. Mude.</h3>
        <p>Acompanhe seu consumo de água e energia, reduza desperdícios e faça parte da mudança.</p>
      </div>
    </div>
    <div class="input-group">
      <span><i class="fa-solid fa-leaf"></i></span>
      <div>
        <h3>Separe. Descarte. Impacte.</h3>
        <p>Descarte corretamente e encontre pontos de coleta com facilidade. Pequenas ações, grandes mudanças.</p>
      </div>
    </div>
    <div class="input-group">
      <span><i class="fa-solid fa-gamepad"></i></span>
      <div>
        <h3> Aprenda. Aja. Conquiste.</h3>
        <p>Aprenda e aja com consciência. Ganhe recompensas que beneficiam você e o planeta.</p>
      </div>
    </div>
  </form>
</section>

<section class="section-container about-container" id="about">
  <div class="about-image">
    <img src="/time/time.jpeg" alt="about" />
  </div>
  <div class="about-content">
    <p class="section-subheader">SOBRE NÓS</p>
    <h2 class="section-header">Conectados pela inovação, unidos pela sustentabilidade.</h2>
    <p class="section-description">A Participe.ai nasceu no HUB Salvador, um ambiente voltado para inovação e colaboração. Foi lá que nosso grupo se conheceu e, impulsionado por um desafio de residência tecnológica, criou a plataforma com o propósito de transformar a relação entre pessoas, empresas e sustentabilidade.</p>
    <p class="section-description">Centralizamos soluções sustentáveis em um único lugar, alinhando nossa atuação aos princípios ESG. Com uma abordagem multifuncional e aberta a novas ideias, tornamos mais simples o acesso a práticas conscientes, promovendo eficiência, economia e impacto positivo no meio ambiente.</p>
  </div>
</section>

<section class="section-container service-container" id="service">
  <p class="section-subheader">SERVIÇOS</p>
  <h2 class="section-header">O que Nossa Plataforma Oferece</h2>
  <div class="service-grid">
    <div class="service-card">
      <div class="service-card-image">
        <img src="water-service.png" alt="service" />
      </div>
      <div class="service-card-details">
        <h4>Água Inteligente</h4>
        <p>
          Monitore seu consumo de água, receba dicas personalizadas e economize com escolhas mais conscientes e sustentáveis!
        </p>
        <button class="btn service-btn" (click)="openDialog('water')">Veja mais</button>
      </div>
    </div>
    <div class="service-card">
      <div class="service-card-image">
        <img src="energy-service.png" alt="service" />
      </div>
      <div class="service-card-details">
        <h4>Energia Eficiente</h4>
        <p>
          Monitore seu consumo de energia, receba dicas personalizadas e economize com escolhas mais conscientes e sustentáveis!
        </p>
        <button class="btn service-btn" (click)="openDialog('energy')">Veja mais</button>
      </div>
    </div>
    <div class="service-card">
      <div class="service-card-image">
        <img src="food-service.png" alt="service" />
      </div>
      <div class="service-card-details">
        <h4>Alimentos Sustentáveis</h4>
        <p>
          Uma feira virtual inteligente que conecta distribuidores a grandes consumidores, reduzindo o descarte de alimentos perecíveis.
        </p>
        <button class="btn service-btn" (click)="openDialog('food')">Veja mais</button>
      </div>
    </div>
    <div class="service-card">
      <div class="service-card-image">
        <img src="trash-service.png" alt="service" />
      </div>
      <div class="service-card-details">
        <h4>Descarte Consciente</h4>
        <p>
          Aprenda e pratique o descarte correto de resíduos! Localize pontos de descarte e aprenda mais sobre o impacto ambiental.
        </p>
        <button class="btn service-btn" (click)="openDialog('residue')">Veja mais</button>
      </div>
    </div>
  </div>
</section>

<section class="team" id="team">
  <div class="section-container team-container">
    <div class="team-content">
      <p class="section-subheader">TIME</p>
      <h2 class="section-header">Conheça nossa equipe.</h2>
      <div class="team-slider flex mt-15 gap-1">
            <div class="team-img">
              <img src="/time/keven.jpeg" alt="Keven Santana">
              <div class="overlay">
                <div class="overlay-text">
                  <h3>Keven Santana</h3>
                  <h4>Contribuição: Scrum Master / Frontend</h4>
                  <div class="flex flex-center gap-1">
                    <a href="https://www.linkedin.com/in/kevensantanadev/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/kevensantana"><i class="fa-brands fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-img">
              <img src="/time/veronica.jpeg" alt="Veronica Vilas">
              <div class="overlay">
                <div class="overlay-text">
                  <h3>Verônica Vilas</h3>
                  <h4>Contribuição: Tech Leader  /  Design UI e UX /  Frontend</h4>
                  <div class="flex flex-center gap-1">
                    <a href="https://www.linkedin.com/in/veronica-vilas/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/VeronicaVilas"><i class="fa-brands fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-img">
              <img src="/time/nilton.jpeg" alt="">
              <div class="overlay">
                <div class="overlay-text">
                  <h3>Nilton Calmon</h3>
                  <h4>Contribuição: Quality Assurance e Documentação</h4>
                  <div class="flex flex-center gap-1">
                    <a href="https://www.linkedin.com/in/niltonjrcalmon/?utm-source=share&utm-campaign=share-via&utm-content=profile&utm-medium=ios-app"> <i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/niltonjrcalmon"><i class="fa-brands fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-img">
              <img src="/time/wallace.jpeg" alt="">
              <div class="overlay">
                <div class="overlay-text">
                  <h3> Irlan Wallace</h3>
                  <h4>Contribuição: Ciência de Dados / Banco de Dados / Estrategista Técnico</h4>
                  <div class="flex flex-center gap-1">
                    <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Wallymtts"> <i class="fa-brands fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-img">
              <img src="/time/alisson.jpeg" alt="">
              <div class="overlay">
                <div class="overlay-text">
                  <h3>Alisson Santos</h3>
                  <h4>Contribuição: Ciência de Dados / Banco de Dados</h4>
                  <div class="flex flex-center gap-1">
                    <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Alisson-S-Ribeiro"><i class="fa-brands fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-img">
              <img src="/time/lizandra.jpeg" alt="">
              <div class="overlay">
                <div class="overlay-text">
                  <h3>Lizandra Reis</h3>
                  <h4>Contribuição: DevOps / Arquitetura em Cloud</h4>
                  <div class="flex flex-center gap-1">
                    <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/lioreis"><i class="fa-brands fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-img">
              <img src="/time/julia.jpeg" alt="">
              <div class="overlay">
                <div class="overlay-text">
                  <h3>Júlia Virgilio</h3>
                  <h4>Contribuição: Cloud / DevOps / Backend</h4>
                  <div class="flex flex-center gap-1">
                    <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"> <i class="fa-brands fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-img">
              <img src="/time/hercules.jpeg" alt="">
              <div class="overlay">
                <div class="overlay-text">
                  <h3>Hercules Oliveira</h3>
                  <h4>Contribuição: Backend</h4>
                  <div class="flex flex-center gap-1">
                    <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/herculesoliveira40"><i class="fa-brands fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>

<section class="explore" id="explore">
  <div class="vertical-text">
    <h6>PARTICIPE.AI</h6>
    <hr>
  </div>
  <h2 class="section-header">SEJA MAIS UM A PARTICIPAR</h2>
  <p class="section-description">
    Gerencie seus consumos com inteligência e praticidade! Transforme suas ações diárias em economia e conquistas para um futuro mais sustentável.
  </p>
  <button class="btn-footer" [routerLink]="['/register']">Criar conta</button>
</section>

<footer class="footer" id="contact">
  <div class="section-container footer-container">
    <div class="footer-col">
      <div class="logo">
        <a href="#home"><img src="logo.png" alt="logo" /></a>
      </div>
      <p class="section-description">
        A Participe.ai é uma multiplataforma que centraliza soluções sustentáveis, facilitando o acesso a práticas sustentáveis sem a necessidade de múltiplos recursos dispersos.
      </p>
      <button class="btn" (click)="openDialog('learn-more')">Saiba mais</button>
    </div>
    <div class="footer-col">
      <h4>LINKS RÁPIDOS</h4>
      <ul class="footer-links">
        <li><a href="#home">Início</a></li>
        <li><a href="#about">Sobre nós</a></li>
        <li><a href="#service">Serviços</a></li>
        <li><a href="#team">Nosso Time</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>NOSSOS SERVIÇOS</h4>
      <ul class="footer-links">
        <li><a (click)="openDialog('water')">Água Inteligente</a></li>
        <li><a (click)="openDialog('energy')">Energia Eficiente</a></li>
        <li><a (click)="openDialog('food')">Alimentos Sustentáveis</a></li>
        <li><a (click)="openDialog('residue')">Descarte Consciente</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>CONTATE-NOS</h4>
      <ul class="footer-links">
        <li><a href="#">participe.ai&#64;gmail.com</a></li>
      </ul>
      <div class="footer-socials">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bar">
    Copyright © 2025 <span>Participe.ai.</span> Todos os direitos reservados.
  </div>
</footer>
