section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-register);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 290px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo img {
  width: 120px;
  margin-right: 0.3rem;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
  color: #a1a0a0;
  font-weight: 400;
  font-size: 0.85rem;
  display: inline;
}

.toggle {
  color: #84BE0E;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
  margin-left: 5px;
  transition: 0.3s;
}

.toggle:hover {
  color: #8A6240;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #a1a0a0;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #a1a0a0;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active + label,
.input-field:focus + label,
.input-field:valid + label {
  top: -0.6rem;
  font-size: 0.75rem;
  color: #a1a0a0;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.text-remember {
  color: #a1a0a0;
  font-size: 0.85rem;
  margin: -20px 0 20px 0;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #84BE0E;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: #8A6240;
}

.text-diviser {
  color: #bbb;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.text-diviser::before,
.text-diviser::after {
  content: "";
  position: relative;
  top: -0.1em;
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #bbb;
  vertical-align: middle;
  margin: 0 10px;
}

.logoAcess{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.logoAcess img{
  width: 15px;
  cursor: pointer;
}

.text-acess {
  color: #eb4132;
  margin-left: 5px;
  font-size: 0.9rem;
  font-weight: 450;
  margin-bottom: 3px;
  cursor: pointer;
}

.text-acess:hover {
  color: #e66c64;
}

.footer {
  color: #bbb;
  font-size: 0.70rem;
  text-align: left;
  margin-top: 15px;
}

.footer .brand {
  color: #84BE0E;
}

section.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

section.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

section.sign-up-mode .forms-wrap {
  left: 55%;
}

section.sign-up-mode .background {
  left: 0%;
}

.background {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color:  #8A6240;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.input-error {
  border-bottom: 2px solid red !important;
}


@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  section.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  section.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .background {
    display: none;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  section {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .background {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}