<section>
  <div class="box">
    <div class="inner-box">
      <div class="background">
        <img src="register-background.png" alt="" />
      </div>
      <div class="forms-wrap">
        <form #registerForm="ngForm" (ngSubmit)="register()" class="sign-in-form">
          <div class="logo">
            <a routerLink="/landing">
              <img src="logo-dark.png" alt="Logotipo da Participe.ai" />
            </a>
          </div>

          <div class="heading">
            <h2>Cadastre-se</h2>
            <h6>Já tem uma conta?</h6>
            <a class="toggle" routerLink="/login">Entrar</a>
          </div>

          <div class="actual-form">
            <div class="input-wrap">
              <input
                type="text"
                [(ngModel)]="user.name"
                [ngClass]="{'input-error': errors.name}"
                name="name"
                class="input-field"
                autocomplete="off"
                required
                (input)="removeError('name')"
              />
              <label>Nome</label>
            </div>

            <div class="double-input">
              <div class="input-wrap">
                <input
                  type="text"
                  [(ngModel)]="user.cpf"
                  [ngClass]="{'input-error': errors.cpf}"
                  name="cpf"
                  class="input-field"
                  autocomplete="off"
                  maxlength="14"
                  (input)="formatCpf(); removeError('cpf')"
                  (keypress)="onlyNumber($event)"
                
                  required
                />
                <label>CPF</label>
              </div>
              <div class="input-wrap">
                <input
                  type="date"
                  [(ngModel)]="user.birthDate"
                  [ngClass]="{'input-error': errors.birthDate}"
                  name="birthDate"
                  class="input-field no-placeholder"
                  autocomplete="off"
                  required
                  (input)="removeError('birthDate')"
            
                />
                <label>Data de nascimento</label>
              </div>
            </div>

            <div class="input-wrap">
              <input
                type="email"
                [(ngModel)]="user.email"
                [ngClass]="{'input-error': errors.email}"
                name="email"
                class="input-field"
                required
                (input)="removeError('email')"
             
              />
              <label>Email</label>
            </div>

            <div class="double-input">
              <div class="input-wrap">
                <input
                  type="password"
                  [(ngModel)]="user.password"
                  [ngClass]="{'input-error': errors.password}"
                  name="password"
                  required
                  class="input-field"
                  autocomplete="off"
                  (input)="removeError('password')"
              
                />
                <label>Senha</label>
              </div>
              <div class="input-wrap">
                <input
                  type="password"
                  [(ngModel)]="user.confirmPassword"
                  [ngClass]="{'input-error': errors.confirmPassword}"
                  name="confirmPassword"
                  required
                  class="input-field"
                  autocomplete="off"
                  (input)="removeError('confirmPassword')"
               
                />
                <label>Confirme a senha</label>
              </div>
            </div>

            <div class="input-wrap checkbox-wrap">
              <input
                type="checkbox"
                [(ngModel)]="user.acceptTerms"
                [ngClass]="{'input-error': errors.acceptTerms}"
                name="acceptTerms"
                required
                (change)="removeError('acceptTerms')"
              />
              <label  for="acceptTerms">Aceito os <a href="#">Termos de uso</a></label>
            </div>

            <button type="submit" class="sign-btn">Cadastrar</button>

            <p class="footer">
              &copy; 2025 <strong class="brand">Participe.AI</strong> — Todos os direitos
              reservados
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>