<div
  class="sidebar"
  [ngClass]="{'collapsed': sidebarCollapsed, 'hidden': sidebarHidden}"
  appAutoCollapseSidebar
  [(sidebarCollapsed)]="sidebarCollapsed"
  [(sidebarHidden)]="sidebarHidden"
>
  <ul>
    <div class="Menulist">
      <li routerLinkActive="active" #rla1="routerLinkActive">
        <a [routerLink]="['/workspace']">
          <div class="icon"><i class="fa-solid fa-house-chimney"></i></div>
          <div class="text">Página inicial</div>
        </a>
      </li>
      <li routerLinkActive="active" #rla2="routerLinkActive">
        <a [routerLink]="['/add']">
          <div class="icon"><i class="fa-solid fa-layer-group"></i></div>
          <div  class="text">Funcionalidades</div>
        </a>
      </li>
    </div>
    <div class="bottom">
      <li routerLinkActive="active" #rla3="routerLinkActive">
        <a [routerLink]="['/faq']">
          <div class="icon"><i class="fa-solid fa-question"></i></div>
          <div class="text">Central de ajuda</div>
        </a>
      </li>
    </div>
  </ul>
</div>
