<div class="admin-container">
  <h1>Painel de Administração</h1>
  <div class="session-selector">
    <button [class.active]="sessaoAtual === 'consumer'" (click)="sessaoAtual = 'consumer'">Usuários</button>
    <button [class.active]="sessaoAtual === 'company'" (click)="sessaoAtual = 'company'">Empresas</button>
  </div>
  
  <!-- Sessão de usuários -->
  <ng-container *ngIf="sessaoAtual === 'consumer'">
    <div class="search-container">
      <input type="text" [(ngModel)]="busca" placeholder="Buscar por nome ou CPF..." (input)="filtrarUsuarios()" class="search-input"/>
      <div class="btn-addUser">
        <button (click)="abrirPopup()">Adicionar Usuário</button>
      </div>
    </div>

    <tabela-usuarios
      [usuarios]="usuariosFiltrados" 
      (editar)="editarUsuario($event)" 
      (deletar)="deletarUsuario($event.toString())" 
      (info)="verMais($event)">
    </tabela-usuarios>
  </ng-container>

  <!-- Sessão de empresa -->
  <div *ngIf="sessaoAtual === 'company'">
    <div class="search-container">
      <input type="text" placeholder="Buscar por nome ou CNPJ..." [(ngModel)]="buscaEmpresa" (input)="filtrarEmpresas()" class="search-input"/>
    </div>

    <tabela-company
      [companies]="empresasFiltradas" 
      (editar)="editarUsuario($event)" 
      (deletar)="deletarUsuario($event.toString())" 
      (info)="verMais($event)">
    </tabela-company>
   
  </div>
  
  <!-- Sessão adicionar usuários -->
  <div *ngIf="mostrarPopup" class="modal" style="display: flex;">
    <div class="modal-content">
      <h2>Adicionar Usuário</h2>
      <form (ngSubmit)="salvarUsuario()">
        <label for="name">Nome:</label>
        <input type="text" id="name" [(ngModel)]="novoUsuario.name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="novoUsuario.email" name="email" required>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" [(ngModel)]="novoUsuario.cpf" name="cpf" required>

        <label for="birthDate">Data de Nascimento</label>
        <input type="date" id="birthDate" [(ngModel)]="novoUsuario.birthDate" name="birthDate" required>

        <label for="role">Nível de Acesso</label>
        <select id="role" [(ngModel)]="novoUsuario.role" name="role" required>
          <option value="admin">Admin</option>
          <option value="user">Usuário</option>
        </select>

        <button type="submit">Salvar</button>
        <button type="button" (click)="fecharPopup()">Cancelar</button>
      </form>
    </div>
  </div>

  <!-- Sessão editar usuários -->
  <div *ngIf="mostrarPopupEditar" class="modal" style="display: flex;">
    <div class="modal-content">
      <h2>Editar Usuário</h2>
      <form (ngSubmit)="salvarEdicao()">
        <label for="editName">Nome</label>
        <input type="text" id="editName" [(ngModel)]="usuarioEditando.name" name="editName" required>
  
        <label for="editEmail">Email</label>
        <input type="email" id="editEmail" [(ngModel)]="usuarioEditando.email" name="editEmail" required>
  
        <label for="editCpf">CPF</label>
        <input type="text" id="editCpf" [(ngModel)]="usuarioEditando.cpf" name="editCpf" required>
  
        <label for="editBirthDate">Data de Nascimento</label>
        <input type="date" id="editBirthDate" [(ngModel)]="usuarioEditando.birthDate" name="editBirthDate" required>
  
        <label for="editRole">Nível de Acesso</label>
        <select id="editRole" [(ngModel)]="usuarioEditando.role" name="editRole" required>
          <option value="admin">Admin</option>
          <option value="user">Usuário</option>
        </select>
  
        <button type="submit">Salvar Alterações</button>
        <button type="button" (click)="fecharPopupEditar()">Cancelar</button>
      </form>
    </div>
  </div>
  
  <!-- Sessão detalhes do usuários -->
  <div *ngIf="mostrarPopupInfo" class="modal-info" style="display: flex;">
    <div class="modal-content">
      <h2>Detalhes do Usuário</h2>
  
      <p><strong>Nome:</strong> {{ usuarioSelecionado.name || '-' }}</p>
      <p><strong>Email:</strong> {{ usuarioSelecionado.email || '-' }}</p>
      <p><strong>CPF:</strong> {{ usuarioSelecionado.cpf || '-' }}</p>
      <p><strong>Data de Nascimento:</strong> {{ usuarioSelecionado.birthDate || '-' }}</p>
      <p><strong>Status:</strong> {{ usuarioSelecionado.status || '-' }}</p>
      <p><strong>Data de Criação:</strong> {{ usuarioSelecionado.createdAt || '-' }}</p>
      <p><strong>Nível de Acesso:</strong> {{ usuarioSelecionado.role || '-' }}</p>

      <button type="button" (click)="fecharPopupInfo()">Fechar</button>
    </div>
  </div>
    
</div>
