
:root {
  /* fonts */
  --font-main: 'Poppins', sans-serif;
  --font-title: 'sigmar-one', sans-serif;
  
  /* Padrão de cores  */
  --green-light: #84BE0E;
  --green-dark: #4CAF50;

  --primary: #01403A;
  --primary-foreground: #F5F5F5;

  --secondary: #AAA713;

  /* background  */
  --background: #FFF;
  --foreground: #222222;
  --background-register: #F5F5F5;
  
  /* colors princ */
  --white: #FFF;
  --black: #000;
  
  /* text  */
  --text-white: #F5F5F5;
  --text-black: #222222;
  --text-dark-color1: #444444;
  --text-dark-color: #333333;
  --brown-light: #8A6240;
  --brown-dark: #593A27;

  --text-green:#032D23

  /* decoração não utilizada */
  --decoration-style: #8A6240;
  --decoration-style-name: #4caf50;

  /* colors hover ; */
  --green-dark-hover: #3B7A29;

  /* border  */
  --border: #E2E8F0; 

 /* Atenção  */
  --confirm-checkbox: #FF4D4D;
  
  /* button colors */
  --btn: #00796B;  
  --btn-main: #004d40;
  --btn-secondary: #00352c;

  /* outros  */
  --muted: #f8fafc;
  --muted-foreground: #64748B;


  /* icon  */
  --icon-calculator:  rgba(255, 255, 255, 0.2);

  /* Sombreamento */
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

.light {
  /* Texto */
  --text-primary: #032D23;
  --text-secondary: #707070;
  --text-on-background: #222222;
  --text-on-light: #F5F5F5;

  /* Plano de fundo */
  --background: #FFFFFF;
  --background-register: #F5F5F5;

  /* Destaques */
  --green: #84BE0E;
  --brown: #8A6240;

  /* Decoração */
  --decoration-style: #8A6240;
  --decoration-style-name: #4CAF50;

  /* Botões */
  --btn: #00796B;
  --btn-main: #004D40;
  --btn-secondary: #00352C;

  /* Confirmação */
  --confirm-checkbox: #FF4D4D;

  /* Outros */
  --muted: #F8FAFC;
  --muted-foreground: #64748B;
  --border: #E2E8F0;
}



.dark {
  /* Texto */
  --text-primary: #F5F5F5;
  --text-secondary: #E2E8F0;
  --text-on-dark: #F5F5F5;

  /* Plano de fundo */
  --background: #1F2937;
  --background-register: #1F2937;

  /* Destaques */
  --green: #4CAF50;
  --green-alt: #3B7A29;
  --brown: #D9C6B3;

  /* Decoração */
  --decoration-style: #8A6240;
  --decoration-style-name: #4CAF50;

  /* Botões */
  --btn: #00796B;
  --btn-main: #004D40;
  --btn-secondary: #00352C;

  /* Confirmação */
  --confirm-checkbox: #FF4D4D;

  /* Outros */
  --muted: #F8FAFC;
  --muted-foreground: #64748B;
  --border: #E2E8F0;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--font-main);
  scroll-behavior: smooth;
}

body {
  margin: 0;
} 

